#help {
	font-size: 24px;
}

.custom-file-label {
	overflow: hidden;
	white-space: nowrap;
}

.custom-file-label::after {
	content: "\F76F";
	font-family: "Material Design Icons";
}

input[type=color].form-control {
	display: inline-block;
	padding: 3px 5px;
	text-align: center;
	width: calc(1.5em + .75rem + 2px);
}

input[type=color].form-control::-webkit-color-swatch {
	border: gray 1px solid;
	border-radius: 2px;
}

.hidden {
	display: none !important;
}